.mainContainer {
    /*ограничить максимальную ширину контейнера главного окна*/
    min-width: 960px;
    /*ширина контейнера главного окна - 4/5 окна браузера*/
    width: 80%;
    /*Выровнять контейнер главного окна по центру экрана*/
    margin: 0 auto;
}
.paramsPanel form {
    display: flex;
    /*Контейнер с настройками параметров прижат к левому краю, а контейнер с кнопками к правому*/
    justify-content: space-between;
}
.params {
    display: flex;
    /*Контейнер с настройками параметров занимает 3/4 панели настроек*/
    flex: 3;
    justify-content: flex-start;
}
.buttons {
    /*Контейнер с кнопками занимает 1/4 панели настроек*/
    flex: 1;
}
.param {
    display: flex;
}
.param:nth-of-type(1n+2) /*Начиная со второго*/ {
    /*Отделить контейнеры настроек друг от друга*/
    margin-left: 10px;
}
.param label {
    /*Отделить лейбл в контейнере настройки от поля ввода значения*/
    margin-right: 5px;
}

.startscreen {
    position: absolute;
    left: 40%;
    top: 20%;
}