/*сместить контейнер от верхнего края*/
#buildingContainer {
    margin-top: 20px;
}
/*выровнять таблицу по центру*/
#buildingContainer table {
    width: 500px;
    margin: auto;
}
/*граница между ячейками*/
#buildingContainer table td, 
#buildingContainer table th 
 {
    border: 1px solid;
}
/*убрать промежутки между ячейками*/
#buildingContainer table {
    border-collapse: collapse;
}
/*выровнять текст в ячейках по центру*/
#buildingContainer table td {
    text-align: center;
}
/*текст в ячейках побольше*/
#buildingContainer table td {
    font-size: 18px;
}
/*текст в заголовке побольше*/
#buildingContainer table th {
    font-size: 20px;
}
/*кнопка вызова лифта на этаже*/
.callPanel_btn {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
}
/*кнопка вызова лифта на этаже нажата*/
.callPanel_btn-pressed {
    background-color: darkorange;
    font-size: medium;
    color: white;
}
/*человек*/
.person-default {
    border-width: 2px;
    border-color: cadetblue;
    border-style: outset;
    margin: 3px;
    background-color: lightblue;
    border-radius: 5px;
    color: darkblue;
    padding: 1px;
}
/*группа людей*/
.people-default {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*расположить элементы панели в одну строку*/
.panel_total-persons-num h3,
.panel_total-persons-num span {
    display: inline-block;
}

/*расположить элементы панели в одну строку*/
.panel_total-persons-weight h3,
.panel_total-persons-weight span {
    display: inline-block;
}

/*расположить элементы панели в одну строку*/
.panel_overweight h3,
.panel_overweight span {
    display: inline-block;
}

/*отступ справа от блока, в котором отображается показатель панели*/
.panel_total-persons-num span,
.panel_total-persons-weight span,
.panel_overweight span {
    margin-left: 5px;
}

/*кнопка остановки симуляции изначально не видна*/
.system_params_form__stop_btn_hidden {
    display: none;
}
/*кнопка остановки симуляции видна*/
.system_params_form__stop_btn_visible {
    display: inline-block;
}
/*ширина кнопок управления*/
.control_panel_button {
    width: 50px;
    margin: 1px;
}