.mainContainer {
    /*ограничить максимальную ширину контейнера главного окна*/
    min-width: 960px;
    /*ширина контейнера главного окна*/
    width: 85%;
    /*Выровнять контейнер главного окна по центру экрана*/
    margin: 0 auto;
}
.paramsPanel form {
    display: flex;
    /*Контейнер с настройками параметров прижат к левому краю, а контейнер с кнопками к правому*/
    justify-content: space-between;
}
.params {
    display: flex;
    justify-content: flex-start;
}
.param {
    display: flex;
}
.param:nth-of-type(1n+2) /*Начиная со второго*/ {
    /*Отделить контейнеры настроек друг от друга*/
    margin-left: 10px;
}
.param label {
    /*Отделить лейбл в контейнере настройки от поля ввода значения*/
    margin-right: 5px;
}

.startscreen {
    position: absolute;
    left: 40%;
    top: 20%;
}
.app {
    display: flex;
    flex-flow: row wrap;
    margin-top: 35px;
}
/*если ширина >1600px*/
@media (min-width: 1600px) {
    .app {
        /*Не переносить дебаг-панель*/
        flex-flow: row nowrap;
    }
    .app__debugPanels {
        /*Отделить деба-панель от здания*/
        margin-left: 25px;
    }
}
.app__building {
    flex: 2 1 40%;
    order: 2;
}
.app__controlPanels {
    flex: 1 1 20%;
    order: 1;
}
.app__debugPanels {
    flex: 2 1 40%;
    order: 3;
}
.app__debugPanels div div:nth-of-type(1n+2) /*Начиная со второго элемента*/ {
    /*Отделить контейнеры в дебаг-панели друг от друга*/
    margin-top: 10px;
}
.debug-panel__table-container {
    overflow-y: auto;
}
.panel_calls .debug-panel__table-container {
    /*Ограничение по высоте для таблицы "Вызовы (debug)"*/
    max-height: 450px;
}
.panel_passengers .debug-panel__table-container {
    /*Ограничение по высоте для таблицы "Пассажиры (debug)"*/
    max-height: 250px;
}
.debug-panel__title,
.control-panel__title {
    font-size: 18px;
    font-weight: bold;
}
body {
    /*Размер шрифта для всех текстовых элементов*/
    font-family: Georgia, Serif, "Times New Roman";
}
.paramsPanel .param, .paramsPanel .param select {
    /*Размер шрифта для текстовых элементов формы в контейнере с настройками параметров*/
    font-size: 24px;
}
.paramsPanel .buttons input {
    /*Размер шрифта в кнопках в контейнере с кнопками*/
    font-size: 20px;
}
.app {
    font-size: 16px;
}
.app__building {
    /*Отделить здание от панели управления*/
    margin-left: 25px;
}
.app__building table {
    /*Растянуть таблицу "Здание" на весь контейнер*/
    width: 100%;
}
table td,
table th {
    /*Границы между ячейками*/
    border: 1px solid;
}
table td {
    /*Выровнять текст в ячейках по центру*/
    text-align: center;
}
table {
    /*Убрать промежутки между ячейками*/
    border-collapse: collapse;
}
table th {
    /*Размер шрифта в заголовке таблицы*/
    font-size: 16px;
}
table td {
    /*Размер шрифта в ячейках таблицы*/
    font-size: 14px;
}
.panel_total-persons-num,
.panel_total-persons-weight,
.panel_overweight,
.control_panel_buttons {
    /*Отделить элементы панели управления друг от друга*/
    margin-top: 5px;
}
.panel_total-persons-num,
.panel_total-persons-weight,
.panel_overweight {
    display: flex;
    justify-content: space-between;
    /*Панель занимает не всю ширину контейнера*/
    width: 95%;
    /*Нижняя граница (точечная)*/
    border-bottom: 1px dashed;
}
.panel__title {
    /*Выделить название панели курсивом*/
    font-style: italic;
}
.control_panel_buttons {
    /*Отделить кнопочную панель от панелей-индикаторов*/
    margin-top: 10px;
    /*Ограничить по ширине кнопочную панель (чтобы уместить 5 кнопок в ряд)*/
    max-width: 300px;
}
.control_panel_buttons div:nth-child(2) /*Только второй элемент*/ {
    display: flex;
    flex-flow: row wrap;
    /*Отделить заголовок кнопочной панели от кнопок*/
    margin-top: 4px;
    /*вернуть кнопочную панель на прежнее место (сместить чуть левее, т.к. она была сдвинута из-за отделения кнопок на кнопочной панели друг от друга*/
    margin-left: -4px;
}
.control_panel_buttons button {
    /*Размер шрифта в кнопке на кнопочной панели*/
    font-size: 20px;
    /*Ширина кнопки на кнопочной панели*/
    width: 48px;
    /*Отделить кнопки на кнопочной панели друг от друга*/
    margin-left: 4px;
}
/*Все кнопки под 1-й, 2-й, 3-й, 4-й и 5-й*/
.control_panel_buttons button:nth-of-type(5n+1),
.control_panel_buttons button:nth-of-type(5n+2),
.control_panel_buttons button:nth-of-type(5n+3),
.control_panel_buttons button:nth-of-type(5n+4),
.control_panel_buttons button:nth-of-type(5n+5)
{
    /*Отделить кнопки на кнопочной панели друг от друга по вертикали*/
    margin-top: 5px;
}

/* *** Расцветка *** */
/*Кнопка вызова на кнопочной панели нажата*/
.control_panel_button-pressed {
    background-color: darkorange;
    font-size: medium;
    color: white;
}
/*Индикатор перегруза, когда наступил перегруз*/
.panel_overweight_indicator-overweighted {
    background-color: orangered;
}

/*Кнопка вызова лифта на этаже*/
.callPanel_btn {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 15px;
}
/*Кнопка вызова лифта на этаже нажата*/
.callPanel_btn-pressed {
    background-color: darkorange;
    font-size: medium;
    color: white;
}
/*Человек*/
.person-default {
    border-width: 2px;
    border-color: cadetblue;
    border-style: outset;
    margin: 3px;
    background-color: lightblue;
    border-radius: 5px;
    color: darkblue;
    padding: 1px;
}
/*Группа людей*/
.people-default {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*Строка "пассажир вышел из кабины" в debug-панели пассажиров*/
.panel_passengers_table_tr-detached {
    background-color: greenyellow;
}
/*Строка "вызов обработан" в debug-панели вызовов*/
.panel_calls_tr-finished {
    background-color: greenyellow;
}